@font-face {
    font-family: "basic";
    font-style: normal;
    src: url(./fonts/NotoSansKR-Regular.ttf) format('truetype');
}

:root{
	--app-color: blue;
}

body{
	padding:0;
	margin:0;
	background:#ffffff;
	font-size:14px;
	font-family: "basic";
}

header{
	height:60px;
	width:100%;
}

header > div.header{
	width:1050px;
	height:100%;
	background:#fff;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:space-between;
}


header > div.header img{
	height:82%;
}


.menu-item{
	color:#585858;
	font-size:15px;
	font-weight:700;
	cursor:pointer;
	margin-left:20px;
}

.menu-item:hover{
	color:var(--app-color);
}

.top-container{
	width:100%;
	height:640px;
	position:relative;
}

.top-container > img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.top-container .div-in-container{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.4);
}

.snap-container {
	height: 675px;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.div-in-container{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-size:40px;
	font-weight:700;
}

.section-presentation{
	height: 675px;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.section-presentation:nth-child(odd) {
	background-color: #f4f4f4;
}

.section-presentation:nth-child(even) {
	background-color: #ddd;
}

.section-container{
	width:100%;
	padding:50px;
}


.section-container > div {
	width:1050px;
	margin:0 auto;
}

.info-card{
	display:flex;
	flex-direction:column;
}


.info-card > img{
	width:100%;
	height:200px;
	object-fit:cover;
	border-radius:4px;
}

.info-card .title-1{
	color:var(--app-color);
	font-size:18px;
	font-weight:700;	
	margin-top:10px;
}

.info-card .title-2{
	color:#000;
	font-size:15px;
	font-weight:700;	
}


.info-card p{
	color:#999;
	font-weight:500;
	margin-top:5px;
}

.info-card .btn{
	background:black;
	color:#fff;
	font-size:15px;
	font-weight:700;
	outline: none;
	padding:10px 20px;
	border:1px solid #dedede;
	border-radius:6px;
	padding:8px;
	cursor:pointer;
}

.info-card .btn:hover{
	background:var(--app-color);
}


.section-container.footer {
	background: #f2f2f2;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 120px;
	box-sizing: border-box;
}

.ft-box{
    display:flex;
    flex-direction:column;
    margin-right:120px;
}

.ft-box .title{
    color:#000;
    font-size:20px;
    font-weight:700;
    margin-bottom:10px;
}


.center-body{
	width:100%;
	display: flex;
	justify-content: center;
}


.form-container{
	width:400px;
	background: #fff;
	margin-top:100px;
	border:1px solid #dedede;
	border-radius:10px;
	padding-top:20px;
	padding-left:16px;
	padding-right:16px;
	padding-bottom: 20px;
	/* display: flex;
	justify-content:center; */
}



.form-container input{
	width: 100%;
	padding:6px;
	outline: none;
	border:1px solid #dedede;
	border-radius:6px;
	margin-bottom:10px;
}

.form-container input:focus{
	border:1px solid red;
}


.form-container select{
	width: 100%;
	padding:6px;
	border-radius:6px;
	border:1px solid #dedede;
}




.form-container .submit-btn{
	width:100%;
	padding:8px;
	margin-top:30px;
	border-radius: 6px;
	background: #222;
	color:#fff;
	font-weight:700;
}


.form-container .submit-btn:hover{
	background: #000;
}

