<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript study</title>
	<link rel="icon" href="../static/images/logo-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='../static/js/basic.js')}}"></script>
</head>
<body>
    <div class="container">
        <br><br>
        <h1 id="txt">Hello</h1>
        <button id="testButton" class="btn btn-primary" color="red">안녕</button>
        <button id="testButton2" class="btn btn-secondary">알록달록</button>
        <button id="testButton3" class="btn btn-success">바꾸기</button>
        <button id="testButton4" class="btn btn-danger">커져라</button>
        <button id="testButton5" class="btn btn-warning">작아져라</button>
        <button id="testButton6" class="btn btn-info">숨기기</button>
        <button id="testButton7" class="btn btn-light">배경도 알록달록</button>
        <button id="testButton8" class="btn btn-dark">돌굴러가유</button>
        <br><br>
        <p>바꾸고 싶은 텍스트 입력</p>
        <input type="text" id="testInput" class="form-control">
    </div>
</body>
</html>