<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Main Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <button>회원가입</button>
    <li><a href="/login">로그인하기</a></li>
    <li><a href="/id-class">클래스 학습</a></li>
    <li><a href="/layout">레이아웃 학습</a></li>
    <main>
        <section>
            <h2>Section Title</h2>
            <p>This is a section of the main page.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Gyuho's Bigdata</p>
    </footer>
</body>
</html>